FoosBall/App.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="application">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="version" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="validation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="requireDepartment" type="xs:boolean" />
              <xs:element name="requireDomainValidation" type="xs:boolean" />
              <xs:element name="requiredDomain" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="options">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="allowOneOnOneMatches" type="xs:boolean" />
              <xs:element name="genderSpecificMatches" type="xs:boolean" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>